<div class='column is-one-quarter'>
    <nav class='panel'>
        <% if user_signed_in? %>
            <p class='panel-heading'>Who to follow</p>
            <div class='panel-block'>
                <article class='media'>
                    <div class='media-left'>
                        <figure class='image is-32x32'>
                            <%= gravatar_image_tag('email', size: 64, alt: 'name') %>
                        </figure>
                    </div>
                    <div class='media-content'>
                        <div class='content'>
                            <p>
                                <strong>Recurso Estético</strong></br>
                                <small>@rc_est</small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        <% else %>
            <p class='panel-heading'>Find your friends</p>
            <div class='panel-block'>
                <article class='media'>
                    <div class='media-left'>
                        <figure class='image is-32x32'>
                            <%= gravatar_image_tag('email', size: 64, alt: 'name') %>
                        </figure>
                    </div>
                    <div class='media-content'>
                        <div class='content'>
                            <p>
                                <strong>Recurso Estético</strong></br>
                                <small>@rc_est</small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        <% end %>
        <%  User.all.each do |user|  %>
            <% if user != current_user %>
                <div class='panel-block'>
                    <article class='media'>
                        <div class='media-left'>
                            <figure class='image is-32x32'>
                                <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
                            </figure>
                        </div>
                        <div class='media-content'>
                            <div class='content'>
                                <p>
                                    <strong><%= user.name %></strong></br>
                                    <small><%= user.username %></small>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            <% end %>
        <% end %>
    </nav>
</div>